[submodule "ingredients/easy_pages"]
	path = ingredients/easy_pages
	url = ../easy_pages.git
[submodule "ingredients/richtext"]
	path = ingredients/richtext
	url = ../richtext.git
[submodule "flavours/pub_lib"]
	path = flavours/pub_lib
	url = ../pub_lib.git
[submodule "ingredients/bazaar"]
	path = ingredients/bazaar
	url = ../bazaar.git
[submodule "ingredients/latest_additions"]
	path = ingredients/latest_additions
	url = ../latest_additions.git
