flavour: ''
archive_id: ''
core:
  host: ''
  port: ''
  aliases: []
  path: '/'
  securehost: ''
  secureport: ''
  adminemail: ''  
  phrases:
    archive_name: ''
    organisation_name: ''
database:
  dbname: ''
  dbhost: ''
  dbport: '#'
  dbsock: '#'
  dbuser: ''
  dbpass: ''
  dbengine: ''
  dbcharset: ''
  admin:
    username: ''
    password: null
user:
  username: 'admin'
  usertype: 'admin'
  password: ''
  email: ''
generate_static: 'yes'
import_subjects: 'no'
generate_apacheconf: 'yes'

