/*
 *
 * EPrints Default Colour Scheme
 *
 */

body {
	color: #000000;
	background-color: #ffffff;
}
a, .ep_tm_key_tools a:visited {
	color: #0645ad;
}
a:visited {
	color: #0b0080;
}
a:hover, .ep_tm_key_tools a:hover {
	color: #3366bb;
}
a:active, .ep_tm_key_tools a:active {
	color: red;
}
h1, h2, h3, h4 {
    color: #606060;
}
.ep_view_page h2 {
	border-bottom: solid 1px #606060;
}

/* template.css */

.ep_tm_header {
	background-color: #fff;
}
.ep_tm_menu, .ep_tm_menu li:hover {
	background-position: 0px 5px;
}
.ep_tm_footer {
	border-color: #204f76;
}
.ep_tm_menu, .ep_tm_menu ul {
	background-color: #204f76;
}
.ep_tm_menu {
	/* fixed to 30px high */
	border-bottom: 1px solid #fff;
}
.ep_tm_menu li:hover {
	background-color: #279ae2;
}
.ep_tm_menu a, .ep_tm_menu a:visited {
	color: white;
}
.ep_tm_searchbar, .ep_columns_title, td.ep_columns_alter, .ep_toolbox_title {
	color: #606060;
}
.ep_tm_searchbar, .ep_columns_title, td.ep_columns_alter {
	background-color: transparent;
}
.ep_tm_searchbarbox {
	border-color: #606060;
}
.ep_tm_key_tools li {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #606060;
}
.ep_tm_key_tools li:first-child {
	border-left: none;
}
.ep_tm_key_tools li:last-child {
	border-right: none;
}

/* unselected tab */
.ep_tab_bar li a {
	background-color: #f0f0f0; 
}

/* selected tab */
.ep_tab_bar li.ep_tab_selected a {
	background-color: #fff;
}

/* general.css */

th.ep_title_row
{
	border-color: #808080;
	color: #333;
}

th.ep_row, td.ep_row {
	border-color: #bbb;
}

/* messages.css */

.ep_msg_message_content {
	background-color: #80ff80;
	border-color: #80ff80;
}
.ep_msg_error_content {
	background-color: #ffc0c0;
	border-color: #ffc0c0;
}

.ep_msg_warning_content {
	background-color: #ffc080;
	border-color: #ffc080;
}

.ep_msg_other_content {
	background-color: #9999ff;
	border-color: #9999ff;
}

/* columns.css */

th.ep_columns_title, td.ep_columns_alter {
	border-color: #888;
}
td.ep_columns_cell {
	border-color: #888 #ccc;
}

.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom /* search.css */
,.ep_view_group_by /* view.css */
{
	border-color: #cccccc;
}
